@model CarGarageParking.Models.Owner

@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
}

<div class="owner-look">
    <h1>@Model.FirstName @Model.LastName</h1>

    <h3>Number of cars: @Model.Vehicles.Count()</h3>


    <ul class="vehicle-solo">
        
        @foreach (Vehicle vehi in Model.Vehicles)
        {
            <li> @await Html.PartialAsync("_VehicleCard",vehi)</li>
            
        }
    </ul>
    <a href="@Url.Action("Index","Owner")">Back to index</a>
</div>







<style>
    .owner-look
    {
        border:1px solid gray;
        border-radius: 15px;
        margin:10px;
        padding: 15px;
        background-color: cadetblue;
        color: white;
    }

    .owner-look a {
        color: yellow;
        text-align:center;
        text-decoration:none;
        text-transform:uppercase;
    }

    .owner-look a:hover {

        color: white;
        text-align: center;
        text-decoration:none;
        text-transform: lowercase;
    }

    .vehicle-solo {
        text-transform: uppercase;  
        text-align: center;
        text-decoration: none;
        
    }

    .vehicle-solo li{
       margin: 10px;
       text-decoration: none;
       border:1px solid white;
       border-radius:25px;
       list-style:none;
       color:cadetblue;
       background-color:navajowhite;
       max-width: 200px;
    }

</style>