@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CarGarageParking.Models.Vehicle

<h3>vehicle licence plate @Model.LicencePlate</h3>

<style>
    h3 {
        text-decoration:none;
        font-family: 'Times New Roman';
        font-size: larger;
        text-transform:uppercase;
        background-color:aliceblue;
        color: darkseagreen;
    }
</style>