<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/GarageIntro.css" />
</head>

@{
    ViewData["Title"] = "Home Garage Page";
}

<div class="container text-black align-content-center mt-5">
    <h1 class="mb-4">Welcome to Car Garage Parking</h1>
    <h2 class="mb-5 text-muted">Hope you stay long and always find a spot in garage</h2>

    <div class="d-grid gap-4 d-md-flex justify-content-center button-container">
        <a href="@Url.Action("EnterVehicle","Home")" class="btn btn-primary btn-lg"><i class="bi bi-car-front"></i>Enter vehicle</a>
        <a href="@Url.Action("ExitVehicle","Home")" class="btn btn-secondary btn-lg"><i class="bi bi-box-arrow-left"></i>Exit vehicle</a>
        <a href="@Url.Action("RegisterUser","Home")" class="btn btn-success btn-lg"><i class="bi bi-person-plus"></i>Become  a user</a>
    </div>
</div>



