@{
    ViewData["Title"] = "Home Garage Page";
}

<h1>Welcome to Car Garage Parking</h1>

<h2>Hope you stay long and always find a spot in garage</h2>

<div class="button-container">
    <a href="@Url.Action("EnterVehicle","Home")" class="btn btn-primary">Enter vehicle</a>
    <a href="@Url.Action("ExitVehicle","Home")" class="btn btn-secondary">Exit vehicle</a> 
    <a href="@Url.Action("RegisterUser","Home")" class="btn btn-success">Become a user</a>
</div>

<style>
    .button-container {
        margin:150px auto;
        border:1px solid gray;
        border-radius:55px;
    }

    .btn {
        padding:15px 25px;
        font-size:larger;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 15px;
        text-decoration:none;
        color:white;
        border: 1px solid gray;
        width: 350px;
        

    }

    .btn-primary{
        border-bottom-left-radius:55px;
        border-top-left-radius:55px;
    }

    .btn-secondary{
        margin-left:85px;
        margin-right:85px;
    }

    .btn-success{
        border-bottom-right-radius: 55px;
        border-top-right-radius: 55px;
    }



</style>

