@model CarGarageParking.ViewModel.ApplicationRegistrationViewModel

@{
    ViewData["Title"] = "Registration succesful";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/GarageIntro.css" />
</head>

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}

<h1>Registration succesfull</h1>

<p>You regsitration has been completed </p>

@await Html.PartialAsync("_OwnerFullCard",Model)


<a href="@Url.Action("Index","Home")" class="btn btn-primary">Back to Home</a>
<a href="@Url.Action("RegisterUser","Home")" class="btn btn-secondary">Register a new user</a>
